body {
  background-color: white;
  margin: 0;
  padding: 0;
 -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: hidden;

}
#container{
	border-left: 5px solid black;
  	border-right: 5px solid black;
    background-color: #0F3B6C;
}
nav {
  width: 98.6vw;
  height: 45px;
  background-color:rgba(0,0,0,0.5);
  margin: 0 auto;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}
header{
  width: 98.6vw;
  height: 373px;
  background-image: url(../images/header.png);
  text-align: center;
  font-size: 57px;
  text-shadow: 2px 2px black, -2px 2px black, 2px -2px black, -2px -2px black;
}
#main {
  width: 1200px;
  height: 780px;
  background-color: lightgray;
  margin: 0 auto;
  text-align: center;
  padding: 24px 200px;
  border-left: 5px solid black;
  border-right: 5px solid black;
  box-sizing: border-box;
}
#sub {
  width: 1900px;
  height: 90px;
  background-color: lightgray;
  margin: 0 auto;
  text-align: center;
  padding: 0px 300px;
  box-sizing: border-box;
  border-bottom: 5px solid black;
  border-top: 5px solid black;
}
footer{
  width: 1490px;
  height: 50px;
  background-color: lightgray;
  margin: 0 auto;
  text-align: center;
  padding: 10px 200px;
  border-bottom: 5px solid black;
  border-top: 5px solid black;
  border-left: 5px solid black;
  border-right: 5px solid black;
  box-align: border-box;
}
#menuToggle
{
  display: block;
  position: relative;
  top: 10px;
  left: 10px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: darkgray;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0;
  z-index: 2;
  
  -webkit-touch-callout: none;
}
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: black;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: black;
  list-style-type: none;
  -webkit-font-smoothing: antialiased; 
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
/*  opacity: 0.6;*/
}

#menu li
{
  padding: 10px 0;
  font-size: 30px;
}
#menuToggle input:checked ~ ul
{
  transform: none;
}
h1{
  color: whitesmoke;
}
h2{
  font-size: 20px;
}
p{
  font-size: 20px;
}
.logo{
  position: relative;
   top: -30px;
   right: -865px;
}
#board {
  border: 5px solid #111;
}